# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/

#elpa packages
elpa/
cedet/
bookmarks
ac-comphist.dat
python-environments/
sx/
cedet/
flycheck_srecode-map.el
games/
projectile-bookmarks.eld
projectile.cache
request/
aved-places
semanticdb/
tmp/
url/
var/
.python-environments/
.sx/
saved-places